$primary-colors: (
  'purple_col': hsl(259, 100%, 65%),
  'light_red': hsl(0, 100%, 67%),
  'attribution_color': hsl(228, 45%, 44%),
);

$neutral-colors: (
  'whiter': hsl(0, 0%, 100%),
  'off_white': hsl(0, 0%, 94%),
  'light_grey': hsl(0, 0%, 86%),
  'smokey_grey': hsl(0, 1%, 44%),
  'off_black': hsl(0, 0%, 8%),
);

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('../assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('../assets/fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
