@import 'global';

body {
  font-family: 'Poppins-Regular', sans-serif;
  background-color: map-get($neutral-colors, off_white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.card {
  width: 300px;
  height: 250px;
  background: map-get($neutral-colors, whiter);
  border-radius: 5px;
  border-bottom-right-radius: 90px;
  padding: 10px;
  margin: 10px;
}

.input-area {
  display: flex;
}

.inputs {
  display: flex;
  flex-direction: column;
}
.display {
  font-family: 'Poppins-ExtraBoldItalic', sans-serif;
  font-size: xx-large;
  span {
    color: map-get($primary-colors, purple_col);
  }
}
label {
  font-family: 'Poppins-Bold', sans-serif;
  color: map-get($neutral-colors, smokey_grey);
  font-size: 5px;
  letter-spacing: 1px;
}
input {
  font-family: 'Poppins-Bold', sans-serif;
  width: 3.75rem;
  margin-right: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid map-get($neutral-colors, light_grey);
  border-radius: 3px;
  caret-color: map-get($primary-colors, purple_col);
  &:focus {
    border-color: map-get($primary-colors, purple_col);
  }
}

.horizontal-rule {
  background: map-get($neutral-colors, light_grey);
  width: 90%;
  height: 1px;
}
.button-hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px 0 0;
}
.circle-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: map-get($primary-colors, purple_col);
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.circle-btn img {
  width: 24px;
  height: 24px;
}

.error {
  color: map-get($primary-colors, light_red);

  & + input {
    color: black;
    border-color: map-get($primary-colors, light_red);
  }
}

.error-span {
  font-family: 'Poppins-Italic', sans-serif;
  font-size: 5px;
  color: map-get($primary-colors, light_red);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Optional: add any additional styling */
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution {
  a {
    color: map-get($primary-colors, attribution_color);
  }
}

@media only screen and (max-width: 376px) {
  .card {
    width: 90%;
    height: auto;
  }

  .inputs {
    flex-direction: column;
    align-items: center;
  }

  label {
    align-self: flex-start;
    font-size: xx-small;
  }

  .input-area {
    justify-content: space-around;
    align-items: center;
  }

  .error-span {
    align-self: flex-start;
  }

  .button-hr-container {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .circle-btn {
    margin-top: -20px;
  }

  .horizontal-rule {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1px;
  }
}
